@tailwind base;
@tailwind components;
@tailwind utilities;


input {
  outline: none;
  border-bottom: solid 1px #ddd;
  background-color: none;
  width: 100%;
  background-color: transparent;
}

h1 {
  font-size: 40px;
  /* color: var(--text-color); */
}